.robot{
  height: 100% !important;
width: 80% !important;
left: 30%;
top: 20%;
}

@media only screen and (max-width: 1100px) {
 .robot{
     height: 60% !important;
width: 80% !important;
left: 10%;
top: 50%;
 }
}

@media only screen and (max-width: 600px) {
 .robot{
     height: 50% !important;
width: 80% !important;
left: 10%;
top: 50%;
 }
}